:root {
  --light-cl: #ffffff;
  --accent-cl: #d41443;
  --dark-cl: #000000;
  --reviews-cl: #e1e1e1;
  --title-light-cl: #ffa5ba;
  --text-cl: #907e82;
  --bg-first-cl: #ffb8ca;
  --bg-second-cl: #f0d1a5;
  --bg-third-cl: #c2e297;
  --bg-social-cl: #fea5bb;
  --slider-dot-cl: #d9d9d9;
  --bg-dark-cl: #fff5f6;
  --bg-mob-menu: #e17992;
  --mob-line: #e18298;
}
