<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts__wrap">
      <div class="contacts__card contacts__card--mobile">
        <p class="contacts__pre-title cafe">Cafe</p>
        <div class="contacts__first">
          <h3 class="contacts__city">Chicago</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__second">
          <h3 class="contacts__days">Monday - Friday</h3>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__days">Saturday - Sunday</h3>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <a class="contacts__phone" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
      <div class="contacts__card">
        <p class="contacts__pre-title foodtruck">food truck</p>
        <div class="contacts__first">
          <h3 class="contacts__city">Los Angeles</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__second">
          <h3 class="contacts__days">Monday - Friday</h3>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__days">Saturday - Sunday</h3>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <a class="contacts__phone" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
      <div class="contacts__card">
        <p class="contacts__pre-title cafe">Cafe</p>
        <div class="contacts__first">
          <h3 class="contacts__city">New York</h3>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__second">
          <h3 class="contacts__days">Monday - Friday</h3>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__days">Saturday - Sunday</h3>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <a class="contacts__phone" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>
    <div class="contacts__button">
      <button class="location-button button" type="button" data-modal-open="map">
        Our Locations
        <svg class="location-icon" width="12" height="12">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <button class="franchise-button button" type="button" data-modal-open="franchise">
        Franchise
        <svg class="franchise-icon" width="12" height="12">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
