<section class="section-gallery">
  <h2 class="hidden">Ice-creams gallery</h2>
  <div class="container">
      <div class="container__wrapper">
          <div class="container__wrapper-first">
                 <img src="/images/gallery/1/img-l.jpg" srcset="" alt="мороженое в тарелке" class="container__image1">
          </div>
          <div class="container__wrapper-second">
            <img src="/images/gallery/2/img-l.jpg " alt="розовое мороженое в стаканчике" srcset="" class="container__image2">
            <img src="/images/gallery/3/img-l.jpg" alt="мороженое с малиной" srcset="" class="container__image3">
          </div>
          <div class="container__wrapper-third">
            <img src="/images/gallery/4/img-l.jpg" alt="много рожков мороженого" srcset="" class="container__image4">
            <img src="/images/gallery/5/img-l.jpg" alt="девушка с мороженым" srcset="" class="container__image5">
          </div>
          <div class="container__wrapper-fourth">
            <img src="/images/gallery/6/img-l.jpg" alt="мороженоес ягодами" srcset="" class="container__image6">
            <img src="/images/gallery/7/img-l.jpg" alt="мороженоев руке" srcset="" class="container__image7">
          </div>
          <div class="container__wrapper-fifth">
            <img src="/images/gallery/8/img-l.jpg" alt="собака с мороженым" srcset="" class="container__image8">
            <img src="/images/gallery/9/img-l.jpg" alt="мороженоев стаканчике" srcset="" class="container__image9">
          </div>
          <div class="container__wrapper-sixt">
            <img src="/images/gallery/10/img-l.jpg" alt="мороженоев чашке" srcset="" class="container__image10">
            
          </div>
          
      </div>
  </div>
</section>