<!-- SECTION HEADER -->
<header class="header">
  <div class="header__container container">
    <a class="logo link" href="./index.html">
      <picture>
        <source
          srcset="./images/header/logo-l.webp 1x, ./images/header/logo-l@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/header/logo-l.png 1x, ./images/header/logo-l@2x.png 2x"
          type="image/png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/header/logo-m.webp 1x, ./images/header/logo-m@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/header/logo-m.png 1x, ./images/header/logo-m@2x.png 2x"
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/header/logo-s.webp 1x, ./images/header/logo-s@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./images/header/logo-s.png 1x, ./images/header/logo-s@2x.png 2x"
          type="image/png"
          media="(min-width: 320px)"
        />
        <img src="./images/header/logo-s.png" alt="Логотип ice cream" />
      </picture>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#review" class="nav__link">About us</a></li>
        <li class="nav__item"><a href="#about-us" class="nav__link">How it&#39;s made?</a></li>
        <li class="nav__item"><a href="#products" class="nav__link">Our products</a></li>
        <li class="nav__item"><a href="#contacts" class="nav__link">Contact</a></li>
      </ul>
    </nav>
    <!-- Бургер для мобильного меню -->
    <button type="button" class="burger__btn" data-menu-button>
      <span class="header__line header__line-first"></span>
      <span class="header__line header__line-second"></span>
      <span class="header__line header__line-third"></span>
    </button>
    <!-- Мобильно меню, при нажатии на бургер -->
    <div class="backdrop is-hidden mob-menu" data-menu>
      <div class="mob-menu-container">
        <button type="button" class="buy-btn buy-btn-mobile" data-modal-open="buy-mobile-menu">
          Buy now
          <svg class="buy-btn__icon" width="8" height="8">
            <use href="./images/sprite.svg#bracket-right"></use>
          </svg>
        </button>
        <ul class="mob-menu-nav-list">
          <li class="mob-menu-nav-list__item">
            <a class="mob-menu-nav-list__link" href="" data-mobile-link>Home</a>
          </li>
          <li class="mob-menu-nav-list__item">
            <a class="mob-menu-nav-list__link" href="#review" data-mobile-link>About us</a>
          </li>
          <li class="mob-menu-nav-list__item">
            <a class="mob-menu-nav-list__link" href="#about-us" data-mobile-link
              >How it&#39;s made?</a
            >
          </li>
          <li class="mob-menu-nav-list__item">
            <a class="mob-menu-nav-list__link" href="#products" data-mobile-link>Our products</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Button BUY NOW -->
    <button type="button" class="buy-btn header__buy-btn mobile-hiden" data-modal-open="buy">
      Buy now
      <svg class="buy-btn__icon" width="8" height="8">
        <use href="./images/sprite.svg#bracket-right"></use>
      </svg>
    </button>
  </div>
</header>
<!-- SECTION HERO -->
<section class="hero section">
  <div class="hero__container container">
    <div class="hero__content">
      <div class="hero__top">
        <div class="hero__top-left">
          <h1 class="hero__title">
            ice cream made with
            <span class="hero__title--accent">passion</span>
          </h1>
          <ul class="hero__buttons">
            <li><a href="#products" class="hero__buttons-dark">Products</a></li>
            <li><a href="#about-us" class="hero__buttons-light">How it&#39;s made?</a></li>
          </ul>
        </div>
        <div class="hero__top-right">
          <span class="hero__number hero__number-first">16</span>
          <span>cafes</span>
          <span class="hero__number hero__number-second">23</span>
          <span>food trucks</span>
        </div>
      </div>
      <div class="hero__bottom">
        <div class="hero__img-wrap">
          <picture class="hero__img-milk">
            <source
              srcset="./images/header/hero-milk-l.webp 1x, ./images/header/hero-milk-l@2x.webp 2x"
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/header/hero-milk-l.png 1x, ./images/header/hero-milk-l@2x.png 2x"
              type="image/png"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/header/hero-milk-m.webp 1x, ./images/header/hero-milk-m@2x.webp 2x"
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/header/hero-milk-m.png 1x, ./images/header/hero-milk-m@2x.png 2x"
              type="image/png"
              media="(min-width: 768px)"
            />
            <img src="./images/header/hero-milk-m.png" alt="Прозрачный кувшин с молоком" />
          </picture>
        </div>
        <div class="hero__description-wrap">
          <p class="hero__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <a href="#about-us" class="hero__img-arrow">
            <svg class="hero__icon" width="10" height="10" aria-label="">
              <use class="" href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
        <picture class="hero__img-girl">
          <source
            srcset="./images/header/hero-girl-l.webp 1x, ./images/header/hero-girl-l@2x.webp 2x"
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/header/hero-girl-l.png 1x, ./images/header/hero-girl-l@2x.png 2x"
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/header/hero-girl-m.webp 1x, ./images/header/hero-girl-m@2x.webp 2x"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/header/hero-girl-m.png 1x, ./images/header/hero-girl-m@2x.png 2x"
            type="image/png"
            media="(min-width: 768px)"
          />
          <img src="./images/header/hero-girl-m.png" alt="Девушка ест мороженное" />
        </picture>
      </div>
    </div>
    <div class="hero__img">
      <picture class="hero__img-ellipse">
        <source
          srcset="./images/header/ellipse-l.webp 1x, ./images/header/ellipse-l@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/header/ellipse-l.png 1x, ./images/header/ellipse-l@2x.png 2x"
          type="image/png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/header/ellipse-m.webp 1x, ./images/header/ellipse-m@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/header/ellipse-m.png 1x, ./images/header/ellipse-m@2x.png 2x"
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/header/ellipse-s.webp 1x, ./images/header/ellipse-s@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./images/header/ellipse-s.png 1x, ./images/header/ellipse-s@2x.png 2x"
          type="image/png"
          media="(min-width: 320px)"
        />
        <img src="./images/header/ellipse-s.png" alt="Круг розового цвета" />
      </picture>
      <picture class="hero__img-ice">
        <source
          srcset="./images/header/hero-ice-l.webp 1x, ./images/header/hero-ice-l@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/header/hero-ice-l.png 1x, ./images/header/hero-ice-l@2x.png 2x"
          type="image/png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/header/hero-ice-m.webp 1x, ./images/header/hero-ice-m@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/header/hero-ice-m.png 1x, ./images/header/hero-ice-m@2x.png 2x"
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/header/hero-ice-s.webp 1x, ./images/header/hero-ice-s@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./images/header/hero-ice-s.png 1x, ./images/header/hero-ice-s@2x.png 2x"
          type="image/png"
          media="(min-width: 320px)"
        />
        <img src="./images/header/hero-ice-s.png" alt="Рожок с шестью шариками мороженного" />
      </picture>
    </div>
  </div>
</section>
