<header class="header">
  <div class="header__container container">
    <a class="logo link" href="" id="logo">
      <picture>
        <source
          srcset="./images/header/logo-l.webp 1x, ./images/header/logo-l@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/header/logo-l.png 1x, ./images/header/logo-l@2x.png 2x"
          type="image/jpeg"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/header/logo-m.webp 1x, ./images/header/logo-m@2x.webp 2x"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/header/logo-m.png 1x, ./images/header/logo-m@2x.png 2x"
          type="image/jpeg"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/header/logo-s.webp 1x, ./images/header/logo-s@2x.webp 2x"
          type="image/webp"
          media="(min-width: 320px)"
        />
        <source
          srcset="./images/header/logo-s.png 1x, ./images/header/logo-s@2x.png 2x"
          type="image/jpeg"
          media="(min-width: 320px)"
        />
        <img src="./images/header/logo-l.png" alt="Логотип ice cream" />
      </picture>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#logo" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#about" class="nav__link">About us</a></li>
        <li class="nav__item"><a href="#advantages" class="nav__link">How it&#39;s made?</a></li>
        <li class="nav__item"><a href="#products" class="nav__link">Our products</a></li>
        <li class="nav__item"><a href="#contacts" class="nav__link">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="menu-open-btn burger__btn">
      <span class="header__line"></span>
      <span class="header__line"></span>
      <span class="header__line"></span>
    </button>
  </div>
</header>
