<div class="backdrop is-hidden" data-modal="milkshakes">
  <div class="modal-prod milkshakes">
    <button
      class="modal-close"
      type="button"
      aria-label="close modal window"
      data-modal-close="milkshakes"
    >
      <svg class="modal-close__icon" width="15" height="15">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal-prod__title">milkshakes</h2>
    <p class="modal-prod__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis non recusandae
      repudiandae aliquam accusamus provident totam voluptatum porro asperiores enim ullam
      laudantium ea dolor voluptate voluptatem sed hic quos error, voluptas necessitatibus! Voluptas
      in modi odio cumque animi quibusdam voluptatem iste eveniet suscipit maiores! Odio cupiditate
      repellendus quasi minus harum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
      laudantium blanditiis rerum nostrum consequuntur magni delectus impedit odio ullam, reiciendis
      facilis veritatis alias aut nobis atque quia quasi, assumenda consequatur.
    </p>
  </div>
</div>
