<div class="backdrop">
  <div class="franchise">
    <p class="franchise__title">Open Your Ice Cream Store Today!</p>
    <p class="franchise__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo earum repellat, dolores tempore
      assumenda saepe perferendis itaque veritatis explicabo et. Architecto, aperiam nam sapiente
      illo deleniti pariatur libero at laudantium quae sed, accusantium quibusdam repellendus
      voluptates possimus quia repellat provident facere doloremque delectus laboriosam neque atque
      nostrum. Id, ex quia.
    </p>
    <form class="modal-form" autocomplete="off">
      <label class="modal-form__label">
        <input class="modal-form__input" type="text" name="name" placeholder=" " required />
        <span class="modal-form__text">Name*</span>
      </label>
      <label class="modal-form__label">
        <input class="modal-form__input" type="tel" name="phone" placeholder=" " required />
        <span class="modal-form__text">Phone*</span>
      </label>
      <label class="modal-form__label">
        <input class="modal-form__input" type="email" name="email" placeholder=" " required />
        <span class="modal-form__text">Email*</span>
      </label>
      <label class="modal-form__label">
        <input class="modal-form__input" type="text" name="address" placeholder=" " required />
        <span class="modal-form__text">Address*</span>
      </label>
      <label class="modal-form__label">
        <textarea
          class="modal-form__input modal-form__input--textarea"
          name="message"
          placeholder=" "
        ></textarea>
        <span class="modal-form__text">Message</span>
      </label>
      <button class="modal-form__button" type="submit">Let&#39;s do it</button>
      <button class="modal-close" type="button" data-modal-close="map">
        <svg class="modal-close__icon" width="15" height="15">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
