<div class="backdrop is-hidden" data-modal="buy">
  <div class="buy">
    <h2 class="buy__title">Our manager will contact you.</h2>
    <form class="modal-form" autocomplete="off">
      <label class="modal-form__label">
        <input class="modal-form__input" type="text" name="name" placeholder=" " required />
        <span class="modal-form__text">Name</span>
      </label>
      <label class="modal-form__label">
        <input class="modal-form__input" type="tel" name="phone" placeholder=" " required />
        <span class="modal-form__text">Phone</span>
      </label>
      <label class="modal-form__label">
        <textarea
          class="modal-form__input modal-form__input--textarea"
          name="message"
          placeholder=" "
        ></textarea>
        <span class="modal-form__text">Message</span>
      </label>
      <button class="modal-form__button" type="submit">Call me back</button>
      <button
        class="modal-close"
        type="button"
        aria-label="close modal window"
        data-modal-close="buy"
      >
        <svg class="modal-close__icon" width="15" height="15">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
