<div class="backdrop is-hidden" data-modal="more">
  <div class="more">
    <p class="more__title">100% natural products</p>
    <p class="more__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum totam aut
      quisquam assumenda eaque quaerat ad, hic atque harum quibusdam libero quis molestiae dolorem
      cumque beatae error ipsa tenetur, facere nostrum. Laborum corrupti blanditiis minima deleniti
      adipisci magnam, assumenda architecto repellat, eos doloremque similique itaque voluptatum
      nobis possimus. Non corrupti laboriosam voluptas porro. Eveniet provident aperiam cumque quod
      dolorem? Ullam pariatur voluptas aperiam, quasi dolores blanditiis nesciunt voluptatum cumque
      quos, modi consectetur? Minus perferendis ducimus voluptatibus sunt? Eveniet voluptatum
      corrupti, magni tempore autem ipsum cum omnis a est quo exercitationem adipisci, rerum
      doloremque eligendi nisi! Ipsa nesciunt, quas eveniet, voluptates repudiandae tempora natus
      ad, ex mollitia harum nostrum atque deleniti dolorem odio esse.
    </p>
    <button
      class="modal-close"
      type="button"
      aria-label="close modal window"
      data-modal-close="more"
    >
      <svg class="modal-close__icon" width="15" height="15">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
