<div class="backdrop is-hidden" data-modal="map">
  <div class="map">
    <ul class="map__list">
      <li class="map__item">
        <a
          class="map__link"
          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5940.799336478118!2d-87.65761653330568!3d41.8842610525952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cdb06efc9eb%3A0x523e0685c502fc25!2zOTE1IFcgV2FzaGluZ3RvbiBCbHZkLCBDaGljYWdvLCBJTCA2MDYwNywg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1641910586619!5m2!1sru!2sua"
          target="map"
        >
          <span class="map__text">cafe</span> Chicago
        </a>
      </li>
      <li class="map__item">
        <a
          class="map__link map__link--truck"
          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6613.064810338264!2d-118.26394888207685!3d34.03021162303207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c7d0dfff8e21%3A0xb09cd0e7d6261691!2s400%20E%20Washington%20Blvd%2C%20Los%20Angeles%2C%20CA%2090015%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2sua!4v1641910657497!5m2!1sru!2sua"
          target="map"
        >
          <span class="map__text">food truck</span> Los Angeles
        </a>
      </li>
      <li class="map__item">
        <a
          class="map__link"
          href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4274.298417961315!2d-73.98014199539412!3d40.75354748173634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259001e0ffc79%3A0x4358868199d7038e!2zMjV3IDQzcmQgU3QsIE5ldyBZb3JrLCBOWSAxMDAzNiwg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1641910379218!5m2!1sru!2sua"
          target="map"
        >
          <span class="map__text">cafe</span> New York
        </a>
      </li>
    </ul>
    <iframe
      class="map__iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5940.799336478118!2d-87.65761653330568!3d41.8842610525952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cdb06efc9eb%3A0x523e0685c502fc25!2zOTE1IFcgV2FzaGluZ3RvbiBCbHZkLCBDaGljYWdvLCBJTCA2MDYwNywg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1641910586619!5m2!1sru!2sua"
      name="map"
      width="200"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <button class="modal-close" type="button" data-modal-close="map">
      <svg class="modal-close__icon" width="15" height="15">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
