<section class="products">
  <div class="container">
    <h2 class="title-products">products</h2>

    <ul class="products-list">
      <li class="products__item">
        <!-- <picture>
          <source
            srcset="
              ./images/products/desktop/icecream1-l.png     1x,
              ./images/products/desktop/icecream1-l@2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/products/tablet/icecream1-m.png     1x,
              ./images/products/tablet/icecream1-m@2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/small/icecream1-s.png     1x,
              ./images/products/small/icecream1-s@2x.webp 2x
            "
            media="(min-width:320px)"
          />
          <img src="images/products/small/icecream1-s.png" alt="мороженое" />
        </picture> -->
        <h3 class="products-list__title">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-button">
          <svg class="arrow-right" width="20" hieght="20">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <!-- <picture>
            <source
            srcset="
                ./images/products/desktop/icecream2-l.png     1x,
                ./images/products/desktop/icecream2-l@2x.webp 2x
            "
            media="(min-width:1280px)"
            />
            <source
            srcset="
                ./images/products/tablet/icecream2-m.png     1x,
                ./images/products/tablet/icecream2-m@2x.webp 2x
            "
            media="(min-width:768px)"
            />
            <source
            srcset="
                ./images/products/small/icecream2-s.png     1x,
                ./images/products/small/icecream2-s@2x.webp 2x
            "
            media="(min-width:320px)"
            />
            <img src="images/products/small/icecream2-s.png" alt="мороженое" />
        </picture> -->
        <h3 class="products-list__title">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-button">
          <svg class="arrow-right" width="20" hieght="20">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <!-- <picture>
            <source
            srcset="
                ./images/products/desktop/icecream3-l.png     1x,
                ./images/products/desktop/icecream3-l@2x.webp 2x
            "
            media="(min-width:1280px)"
            />
            <source
            srcset="
                ./images/products/tablet/icecream3-m.png     1x,
                ./images/products/tablet/icecream3-m@2x.webp 2x
            "
            media="(min-width:768px)"
            />
            <source
            srcset="
                ./images/products/small/icecream3-s.png     1x,
                ./images/products/small/icecream3-s@2x.webp 2x
            "
            media="(min-width:320px)"
            />
            <img src="images/products/small/icecream3-s.png" alt="мороженое" />
        </picture> -->
        <h3 class="products-list__title">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-button">
          <svg class="arrow-right" width="20" hieght="20">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
