.advantages {
  background-color: var(--bg-dark-cl);
  padding-top: 39px;
  padding-bottom: 97px;
  @include mq(tablet) {
    padding-top: 66px;
    padding-bottom: 140px;
  }
  @include mq(desktop) {
    padding-top: 0;
    padding-bottom: 139px;
    margin-top: -26px;
  }

  &__list {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 70px;
    margin-left: auto;
    margin-right: auto;

    @include mq(tablet) {
      display: flex;
      max-width: 660px;
      padding-left: 0;
      padding-right: 0;
    }
    @include mq(desktop) {
      max-width: 1050px;
    }
  }

  &__item {
    height: 156px;
    margin-bottom: 38px;

    @include mq(tablet) {
      height: 226px;
      margin-left: 60px;
    }
    @include mq(desktop) {
      height: 222px;
      margin-left: 30px;
    }
  }

  &__item:first-child {
    @include mq(tablet) {
      margin-left: 0;
    }
  }
  &__number {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-cl);
    margin-bottom: 15px;
    @include mq(tablet) {
      font-size: 48px;
      line-height: 1.15;
      margin-bottom: 13px;
    }
    @include mq(desktop) {
      font-size: 58px;
      line-height: 1.14;
      margin-bottom: 15px;
    }
  }
  &__number:before {
    content: '';
    display: block;
    height: 50px;
    margin-bottom: 16px;
    @include mq(tablet) {
      margin-bottom: 36px;
    }
    @include mq(desktop) {
      margin-bottom: 40px;
    }
  }

  &__item:first-child > &__number:before {
    width: 33px;
    background-image: url('../images/advantages/icon_1.png');
  }
  &__item:nth-child(2) > &__number:before {
    width: 50px;
    background-image: url('../images/advantages/icon_2.png');
  }
  &__item:last-child > &__number:before {
    width: 44px;
    background-image: url('../images/advantages/icon_3.png');
  }

  &__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.7;
    color: var(--dark-cl);
    max-width: 230px;
    @include mq(tablet) {
      font-size: 14px;
      line-height: 1.74;
      max-width: 180px;
    }
    @include mq(desktop) {
      font-size: 16px;
      line-height: 1.76;
      letter-spacing: 0.02em;
      max-width: 330px;
    }
  }
}
