.contacts {
  background-image: linear-gradient(
    to bottom,
    var(--light-cl) 0%,
    var(--light-cl) 9%,
    var(--bg-dark-cl) 9%,
    var(--bg-dark-cl) 100%
  );

  padding-top: 43px;
  padding-bottom: 56px;
  @include mq(tablet) {
    background-image: linear-gradient(
      to bottom,
      var(--light-cl) 0%,
      var(--light-cl) 18%,
      var(--bg-dark-cl) 18%,
      var(--bg-dark-cl) 100%
    );
  }
  @include mq(tablet-only) {
    padding-top: 60px;
    padding-bottom: 79px;
  }
  @include mq(desktop) {
    padding-top: 66px;
    padding-bottom: 83px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  min-height: 44px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: 1px solid transparent;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;

  margin-left: auto;
  margin-right: auto;

  @include mq(tablet-only) {
    margin-left: 0;
    margin-right: 0;

    width: 198px;
    height: 44px;
  }

  @include mq(desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

// Оборачивающий контейнер

.contacts__container {
  @include mq(mobile) {
    padding-left: 0;
    padding-right: 0;
  }
}
.contacts__wrap {
  @include mq(mobile) {
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(tablet-only) {
    display: flex;
    flex-wrap: nowrap;
    // margin-bottom: 81px;
  }
  @include mq(desktop) {
    display: flex;
  }
}

.contacts__card {
  width: 220px;
  height: 427px;

  background-color: var(--light-cl);
  border-radius: 24px;

  margin-bottom: 20px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 43px;
  padding-bottom: 43px;

  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  &--mobile {
    @include mq(mobile) {
      margin-right: 20px;
    }
  }

  @include mq(tablet-only) {
    width: 220px;
    height: 544px;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 31px;
    padding-right: 31px;

    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @include mq(desktop) {
    width: 330px;
    height: 572px;

    padding-top: 51px;
    padding-bottom: 62px;
    padding-left: 43px;
    padding-right: 43px;

    margin-right: 31px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.contacts__pre-title.cafe {
  width: 80px;
  height: 16px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  text-align: center;

  padding-bottom: 20px;

  margin-bottom: 25px;

  color: var(--light-cl);
  background-color: var(--bg-second-cl);

  text-transform: uppercase;

  border-radius: 4px;

  @include mq(tablet-only) {
    width: 73px;
    height: 28px;

    font-size: 16px;
  }

  @include mq(desktop) {
    margin-bottom: 32px;
  }
}

.contacts__pre-title.foodtruck {
  width: 130px;
  height: 16px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  text-align: center;

  padding-bottom: 20px;
  margin-bottom: 25px;

  color: var(--light-cl);
  background-color: var(--bg-third-cl);

  text-transform: uppercase;

  border-radius: 4px;

  @include mq(tablet-only) {
    width: 138px;
    height: 28px;

    font-size: 16px;
  }

  @include mq(desktop) {
    margin-bottom: 32px;
  }
}

.contacts__city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  margin-bottom: 10px;

  @include mq(tablet-only) {
    font-size: 14px;
  }

  @include mq(desktop) {
    font-size: 16px;
  }
}

.contacts__days {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  @include mq(tablet-only) {
    font-size: 14px;
  }

  @include mq(desktop) {
    font-size: 16px;
  }
}

.contacts__text {
  color: var(--text-cl);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  margin-bottom: 50px;

  @include mq(tablet-only) {
    font-size: 14px;
    line-height: 1.66;

    margin-bottom: 60px;
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.83;

    margin-bottom: 64px;
  }
}

.contacts__first {
  position: relative;
  &:after {
    content: '';

    width: 179px;
    height: 1px;

    background-color: var(--reviews-cl);

    position: absolute;

    top: 125%;

    @include mq(tablet-only) {
      width: 157px;
    }

    @include mq(desktop) {
      width: 234px;
    }
  }
}

.contacts__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  color: var(--title-light-cl);
  :not(:last-child) {
    margin-bottom: 10px;
  }

  @include mq(tablet-only) {
    font-size: 14px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @include mq(desktop) {
    font-size: 16px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.contacts__phone {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: var(--text-cl);

  display: block;

  @include mq(tablet-only) {
    font-size: 14px;
    line-height: 1.83;
  }

  @include mq(desktop) {
    font-size: 16px;
  }
}

.contacts__second {
  position: relative;
  margin-bottom: 50px;
  @include mq(desktop) {
    margin-bottom: 64px;
  }

  &:after {
    content: '';

    width: 179px;
    height: 1px;

    background-color: var(--reviews-cl);

    position: absolute;

    top: 125%;

    @include mq(tablet-only) {
      width: 157px;
    }

    @include mq(desktop) {
      width: 234px;
    }
  }
}

.contacts__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: var(--text-cl);

  @include mq(tablet-only) {
    font-size: 14px;
    line-height: 1.83;
  }

  @include mq(desktop) {
    font-size: 16px;
  }
}

.location-button {
  @extend %button-dark;

  margin-top: 54px;
  margin-bottom: 10px;
  @include mq(tablet-only) {
    width: 192px;

    margin-right: 15px;
    margin-left: auto;
  }

  @include mq(desktop) {
    width: 198px;

    margin-left: auto;
  }
}

.franchise-button {
  @extend %button-light;

  @include mq(tablet-only) {
    width: 174px;

    margin-right: auto;
  }

  @include mq(desktop) {
    width: 180px;

    margin-left: 15px;
    margin-right: auto;
  }
}

.contacts__button {
  @include mq(tablet-only) {
    display: flex;
    align-items: baseline;
    justify-content: center;

    margin: 0;
  }

  @include mq(desktop) {
    display: flex;
    align-items: baseline;
  }
}

.location-icon {
  fill: var(--light-cl);
  stroke: var(--light-cl);

  margin-left: 8px;

  @include mq(tablet-only) {
    margin-left: 12px;
  }
}

.franchise-icon {
  margin-left: 12px;

  @include mq(tablet-only) {
    margin-left: 13px;
  }
}
