// ----------------SECTION HEADER--------------
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  &__container {
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-first-cl);
    @include mq(tablet) {
      padding-top: 38px;
    }
    @include mq(desktop) {
      max-width: 1280px;
      justify-content: start;
    }
  }
  &__line {
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--accent-cl);
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &__buy-btn {
    margin-right: 0;
    margin-left: 30px;
  }
}
.logo {
  margin-right: 61px;
  @include mq(tablet) {
    margin-right: 291px;
  }
  @include mq(desktop) {
    margin-right: 110px;
  }
}
.nav {
  margin-right: 110px;
  @include mq(not-desktop) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    color: var(--light-cl);
    @include font(16px, 1.31, 700);
    &:not(:last-child) {
      margin-right: 35px;
    }
    &:nth-child(1) {
      color: var(--accent-cl);
    }
  }
}
.burger__btn {
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 3;
  @include mq(desktop) {
    display: none;
  }
}

// ----------------SECTION HERO--------------
.hero {
  background-color: var(--bg-first-cl);
  padding-top: 56px;
  height: 502px;
  @include mq(tablet) {
    padding-top: 94px;
    height: 399px;
  }
  @include mq(desktop) {
    padding-top: 160px;
    height: 655px;
  }
  &__container {
    position: static;
    height: 100%;
    padding-top: 137px;
    @include mq(tablet) {
      padding-top: 15px;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__top {
    width: 218px;
    @include mq(tablet) {
      width: 162px;
      margin-bottom: 19px;
    }
    @include mq(desktop) {
      width: 277px;
      margin-bottom: 56px;
    }
  }
  &__title {
    @extend %title;
    color: var(--light-cl);
    @include font(26px, 1.15, 400);
    letter-spacing: 0.04em;
    margin-bottom: 20px;
    @include mq(tablet) {
      @include font(22px, 1.14, 400);
    }
    @include mq(desktop) {
      @include font(38px, 1.16, 400);
      margin-bottom: 25px;
    }
  }
  &__title--accent {
    color: var(--accent-cl);
    @include font(48px, 0.965, 400);
    letter-spacing: 0.04em;
    @include mq(tablet) {
      @include font(34px, 0.905, 400);
    }
    @include mq(desktop) {
      @include font(58px, 0.905, 400);
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &__buttons--dark {
    @extend %button-dark;
    @include font(8px, 1.25, 400);
    min-width: 63px;
    min-height: 24px;
    margin-right: 9px;
    @include mq(desktop) {
      @include font(14px, 1.29, 400);
      min-width: 104px;
      min-height: 40px;
      margin-right: 15px;
    }
  }
  &__buttons--light {
    @extend %button-light;
    @include font(8px, 1.25, 400);
    min-width: 83px;
    min-height: 24px;
    @include mq(desktop) {
      @include font(14px, 1.29, 400);
      min-width: 138px;
      min-height: 40px;
    }
  }
  &__bottom {
    @include mq(mobile-only) {
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &__img-wrap {
    position: relative;
    width: 120px;
    height: 126px;

    @include mq(desktop) {
      width: 188px;
      height: 191px;
    }
  }
  &__img-milk {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__description {
    display: block;
    width: 114px;
    @include font(8px, 1.5, 400);
    letter-spacing: 0;
    color: var(--light-cl);
    margin-bottom: 7px;
    @include mq(desktop) {
      width: 200px;
      @include font(14px, 1.4, 400);
      margin-bottom: 20px;
    }
  }
}
// Контейнер для фото "Кувшин с молоком" и текста

// ---------------КОНТЕЙНЕР ДЛЯ ДВУХ ФОТО-------------
.hero__img {
  position: absolute;
  top: 83px;
  right: 0;
  width: 289px;
  height: 420px;
  @include mq(tablet) {
    top: 31px;
    right: 140px;
    width: 324px;
    height: 368px;
  }
  &-ice {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 9px);
    @include mq(tablet) {
      transform: translate(40%, 32px);
    }
  }
  &-ellipse {
    position: absolute;
    top: 0;
    right: 0;
  }
}
