.products {
  padding-top: 157px;
  padding-bottom: 260px;
}

.products__title {
  @extend %title;
  display: flex;
  flex-direction: column;
  font-size: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-cl);
  margin-bottom: 144px;
  @include mq(tablet) {
    font-size: 48px;
    margin-bottom: 39px;
  }
  @include mq(desktop) {
    font-size: 58px;
    margin-bottom: 49px;
  }
}

.products__title::before {
  content: '100% natural';
  @extend %title;
  font-size: 18px;
  text-align: center;
  color: var(--title-light-cl);
  margin-bottom: 15px;
  @include mq(tablet) {
    font-size: 26px;
  }
  @include mq(desktop) {
    font-size: 30px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -17px;
  @include mq(tablet) {
    margin-right: -20px;
  }
  @include mq(desktop) {
    margin-right: -22px;
  }
}

.products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-first-cl);
  border-radius: 24px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  &:not(:last-child) {
    margin-bottom: 130px;
  }
  padding-top: 161px;
  position: relative;
  &::before {
    position: absolute;
    top: -113px;
    width: 249px;
    height: 252px;
  }
  @include mq(tablet) {
    width: 220px;
    margin-right: 20px;
  }
  @include mq(desktop) {
    width: 335px;
    margin-right: 22px;
  }
}

.products__item {
  &:nth-child(1)::before {
    content: '';
    background-image: url('../images/products/small/icecream1-s.png');
    background-image: -webkit-image-set(url('../images/products/small/icecream1-s.png') 1x);
    @include mq(retina) {
      background-image: url('../images/products/small/icecream1-s.png');
      background-image: -webkit-image-set(url('../images/products/small/icecream1-s@2x.webp') 2x);
    }
    @include mq(tablet) {
      background-image: url('../images/products/tablet/icecream1-m.png');
      background-image: -webkit-image-set(url('../images/products/tablet/icecream1-m@2x.webp') 2x);
    }
    @include mq(desktop) {
      background-image: url('../images/products/desktop/icecream1-l.png');
      background-image: -webkit-image-set(url('../images/products/desktop/icecream1-l@2x.webp') 2x);
    }
  }
  &:nth-child(2)::before {
    content: '';
    background-image: url('../images/products/small/icecream2-s.png');
    background-image: -webkit-image-set(url('../images/products/small/icecream2-s.png') 1x);
    @include mq(retina) {
      background-image: url('../images/products/small/icecream2-s.png');
      background-image: -webkit-image-set(url('../images/products/small/icecream2-s@2x.webp') 2x);
    }
    @include mq(tablet) {
      background-image: url('../images/products/tablet/icecream2-m.png');
      background-image: -webkit-image-set(url('../images/products/tablet/icecream2-m@2x.webp') 2x);
    }
    @include mq(desktop) {
      background-image: url('../images/products/desktop/icecream2-l.png');
      background-image: -webkit-image-set(url('../images/products/desktop/icecream2-l@2x.webp') 2x);
    }
  }
  &:nth-child(3)::before {
    content: '';
    background-image: url('../images/products/small/icecream3-s.png');
    background-image: -webkit-image-set(url('../images/products/small/icecream3-s.png') 1x);
    @include mq(retina) {
      background-image: url('../images/products/small/icecream3-s.png');
      background-image: -webkit-image-set(url('../images/products/small/icecream3-s@2x.webp') 2x);
    }
    @include mq(tablet) {
      background-image: url('../images/products/tablet/icecream3-m.png');
      background-image: -webkit-image-set(url('../images/products/tablet/icecream3-m@2x.webp') 2x);
    }
    @include mq(desktop) {
      background-image: url('../images/products/desktop/icecream3-l.png');
      background-image: -webkit-image-set(url('../images/products/desktop/icecream3-l@2x.webp') 2x);
    }
  }
}

.item__title {
  @extend %title;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--light-cl);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--light-cl);
  margin-bottom: 30px;
}

.products-button {
  @extend %button-light;
  min-width: 0px;
  min-height: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
