.review {
  padding-top: 40px;
  padding-bottom: 86px;
  @include mq(tablet) {
    padding-top: 61px;
    padding-bottom: 119px;
  }
  @include mq(desktop) {
    padding-top: 63px;
    padding-bottom: 132px;
  }

  &__wrap-container {
    min-width: 280px;
    height: 308px;
    //   outline: red solid 1px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    background-color: #fafafa;
    position: relative;
    @media screen and (min-width: 420px) and (max-width: 768px) {
      height: 200px;
    }
    @include mq(tablet) {
      width: 620px;
      height: 164px;
      background-color: rgba(250, 250, 250, 0.4);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
    }
    @include mq(desktop) {
      width: 926px;
      height: 138px;
      background-color: #fafafa;
    }
  }

  &__gradient-container {
    min-width: 180px;
    height: 218px;
    margin-right: auto;
    margin-left: auto;

    background: repeating-linear-gradient(
      0deg,
      var(--reviews-cl),
      var(--reviews-cl) 1px,
      #fafafa 1px,
      #fafafa 31px
    );
    position: absolute;
    z-index: 0;
    bottom: 20px;
    left: 50px;
    right: 50px;

    @media screen and (min-width: 375px) and (max-width: 420px) {
      height: 157px;
      background: repeating-linear-gradient(
        0deg,
        var(--reviews-cl),
        var(--reviews-cl) 1px,
        #fafafa 1px,
        #fafafa 31px
      );
      transform: translateY(-66px);
      transition: transform 500ms linear;
    }
    @media screen and (min-width: 421px) and (max-width: 431px) {
      height: 125px;
      background: repeating-linear-gradient(
        0deg,
        var(--reviews-cl),
        var(--reviews-cl) 1px,
        #fafafa 1px,
        #fafafa 31px
      );
      transform: translateY(15px);
      transition: transform 500ms linear;
    }
    @media screen and (min-width: 432px) and (max-width: 767px) {
      height: 94px;
      background: repeating-linear-gradient(
        0deg,
        var(--reviews-cl),
        var(--reviews-cl) 1px,
        #fafafa 1px,
        #fafafa 31px
      );
      transform: translateY(-20px);
      transition: transform 500ms linear;
    }

    @include mq(tablet) {
      width: 524px;
      height: 90px;
      background: repeating-linear-gradient(
        0deg,
        var(--reviews-cl),
        var(--reviews-cl) 1px,
        rgba(250, 250, 250, 0.4) 1px,
        rgba(250, 250, 250, 0.4) 31px
      );
      bottom: 28px;
    }
    @include mq(desktop) {
      width: 813px;
      height: 61px;
      background: repeating-linear-gradient(
        0deg,
        var(--reviews-cl),
        var(--reviews-cl) 1px,
        #fafafa 1px,
        #fafafa 31.5px
      );
    }
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--dark-cl);

    padding-top: 43px;
    padding-left: 57px;
    padding-right: 66px;
    padding-bottom: 26px;
    position: absolute;
    z-index: 1;
    @include mq(tablet) {
      font-size: 14px;
      line-height: 2.16;
      letter-spacing: 0.04em;
      padding-top: 47px;
      padding-left: 80px;
      padding-right: 80px;
      padding-bottom: 34px;
    }
    @include mq(desktop) {
      font-size: 16px;
      line-height: 1.86;
      padding-top: 47px;
      padding-left: 87px;
      padding-right: 89px;
      padding-bottom: 39px;
    }
  }

  // Псевдоэлемент Кавычки

  &__text:before {
    content: '';
    display: block;
    width: 54px;
    height: 40px;
    background-image: url('../images/review-slider/quotes.svg');

    position: absolute;
    z-index: -2;
    top: 28px;
    left: 61px;

    @include mq(tablet) {
      top: 30px;
      left: 40px;
    }
    @include mq(desktop) {
      top: 32px;
      left: 50px;
    }
  }

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: var(--dark-cl);
    margin-bottom: 30px;
    @include mq(tablet) {
      font-size: 16px;
      margin-bottom: 35px;
    }
    @include mq(desktop) {
      font-size: 20px;
    }
  }
  // Псевдоэлемент троеточие

  &__name:before {
    content: '';
    display: block;
    width: 32px;
    height: 4px;
    background-image: url('../images/review-slider/dots.svg');
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    @include mq(tablet) {
      margin-bottom: 14px;
    }
    @include mq(desktop) {
      margin-bottom: 15px;
    }
  }

  &__image.swiper-slide {
    width: 85px;
    height: 85px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 29px;
    @include mq(tablet) {
      margin-bottom: 19px;
    }
    @include mq(desktop) {
      margin-bottom: 15px;
    }
  }

  // Cтилизированные кнопки слайдера десктопа

  &__button-prev:after {
    content: '';
    @include mq(desktop) {
      content: 'prev';
    }
  }

  &__button-next:after {
    content: '';
    @include mq(desktop) {
      content: 'next';
    }
  }
  .review__button-next.swiper-button-next,
  .review__button-prev.swiper-button-prev {
    color: var(--accent-cl);
  }

  // Стили указателей страниц

  &__swiper-pagination {
    position: static;
  }
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 18px;
}

// Размер фигуры пагинации

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--slider-dot-cl);
  opacity: 1;
}

// Изменение фигуры пагинации на активной странице

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  border-radius: 0%;
  background-color: transparent;
  background-image: url('../images/review-slider/page_home.svg');
}
